@keyframes pulsate {
    0% {background: #000000}
    25% {background: #0055ff}
    50% {background: #ccd9ff}
    100% {background: white}
}
html, body {
  height: 100%;
  width: 100%;
	color:white;
	background-color: #040227;
	display:flex;
	justify-content: space-around;
	align-items:center;
	flex-direction: column;
	font-family: roboto;
}

h1{
	font-weight: 100;
}

.container
{
	display: grid;
	grid-template-columns: .01fr .01fr .01fr .01fr .01fr
	.01fr .01fr .01fr .01fr .01fr .01fr .01fr .01fr .01fr
	 .01fr .01fr .01fr .01fr .01fr .01fr .01fr .01fr .01fr .01fr
	 .01fr .01fr .01fr .01fr .01fr .01fr .01fr .01fr .01fr .01fr .01fr
	 .01fr .01fr .01fr .01fr .01fr .01fr .01fr .01fr .01fr .01fr
	 .01fr .01fr .01fr .01fr .01fr .01fr .01fr .01fr .01fr .01fr .01fr;
}

.square-cell
{
	display: flex;
	justify-content: center;
	align-items:center;
	background-color: #000000;
	height:11px;
	width:11px;
	font-size: 12px;
	transition: .5s;
/* 	border: 1px solid #040227; */
	
}
.cell-text
{
	display: none;
}

.alive
{
	background-color: white;
	animation: pulsate .5s linear;
}


.button-50 {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #17116e 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 20px;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}
